#about #about-wrap{
	padding-top: 50px;
	height: 100%;
	float: left;
	background-color: #ffffff;
	width: 97%;
	margin-left: 1.5%;

	.about-div{
		width: 50%;
		height: 100%;
		float:left;
		text-align: center;

		img{
			top: 50%;
		}

	}

}