#mission{	
	#mission-wrap{
		background-image: image-url("home/cork-board.png");
		background-size: 100% 100%;
		height: 100%;
		width: 97%;
		margin-left: 1.5%;
		padding-top: 50px;

		#mission-top{
			background-image: image-url("home/paper.png");
			
			background-size: 100% 100%;
			background-repeat: none;
			padding: 10px;
			padding-left: 30px;
			padding-right: 30px;

			p.mission-title{
				font-size: 30px;
			}
			p.mission-content{
				font-size: 20px;
				padding-left: 50px;
			}
		}
		#mission-table{
			width: 100%;
			td{
				width: 25%;
				text-align: center;

				img{
					width: 239px;
				}
				img.text{
					width: 300px;
				}

			}

		}
		
	}

	#home_model{
		-webkit-transform: translate3d(-150%, 0, 0);
		-moz-transform: translate3d(-150%, 0, 0);
		transform: translate3d(-150%, 0, 0);

		-webkit-transition: -webkit-transform 500ms ease-out 1s;
		-moz-transition: -moz-transform 500ms ease-out 1s;
		transition: transform 500ms ease-out 1s;
	}

	#quiz_model{
		-webkit-transform: translate3d(150%, 0, 0);
		-moz-transform: translate3d(150%, 0, 0);
		transform: translate3d(150%, 0, 0);

		-webkit-transition: -webkit-transform 500ms ease-out 1s;
		-moz-transition: -moz-transform 500ms ease-out 1s;
		transition: transform 500ms ease-out 1s;
	}
}

#mission.active{
	#home_model, #quiz_model{
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);

		-webkit-transition: -webkit-transform 500ms ease-out 1s;
		-moz-transition: -moz-transform 500ms ease-out 1s;
		transition: transform 500ms ease-out 1s;
	}
}

