#packet{
	#packet-wrap{
		height: 100%;
		width: 97%;
		margin-left: 1.5%;
		background-color: #fff;

		#packet-table-outer{
			height: 100%;
			width: 100%;

			td{
				width: 100%;
				height: 100%;
				padding: 5%;

				.model{
					width: 30%;
				}

				#flipbook{
					width:100%;
					height:100%;
				}

				#flipbook{

					.page{
						width:100%;
						height:100%;
						background-color: #082a44;
						color: #fff;
						text-align:center;
						.page-div{
							padding-left: 10%;
							padding-right: 10%;
							padding-top: 10%;
						}
						h4{
							font-size:50px;
							color: #fff;
							margin-bottom: 50px;
						}
						h5{
							font-size: 30px;
							color: #fff;
						}

						img{
							padding-top: 3%;
						}
					}
					.page-wrapper{
						-webkit-perspective:2000px;
						-moz-perspective:2000px;
						-ms-perspective:2000px;
						-o-perspective:2000px;
						perspective:2000px;
					}

					.hard{
						background: #171717;
						color:#fff;
						-webkit-box-shadow:inset 0 0 5px #666;
						-moz-box-shadow:inset 0 0 5px #666;
						-o-box-shadow:inset 0 0 5px #666;
						-ms-box-shadow:inset 0 0 5px #666;
						box-shadow:inset 0 0 5px #666;
						font-weight:bold;
					}

					.hard.p1{

						p{
							text-align: center;
							padding-top: 70%;
							color: white;
							font-size: 40px;
						}
						background-image: image-url("home/design/book.png") !important;
						background-size: 100%;
					}

					.hard.p9{
						background-color: #171717;
					}

				}

				#flipbook .odd.inner-page{
					background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #082a44), color-stop(1, #DADADA));
					background-image:-webkit-linear-gradient(right, #082a44 95%, #000 100%);
					background-image:-moz-linear-gradient(right, #082a44 95%, #000 100%);
					background-image:-ms-linear-gradient(right, #082a44 95%, #000 100%);
					background-image:-o-linear-gradient(right, #082a44 95%, #000 100%);
					background-image:linear-gradient(right, #082a44 95%, #000 100%);
					-webkit-box-shadow:inset 0 0 5px #666;
					-moz-box-shadow:inset 0 0 5px #666;
					-o-box-shadow:inset 0 0 5px #666;
					-ms-box-shadow:inset 0 0 5px #666;
					box-shadow:inset 0 0 5px #666;
				    
				}

				#flipbook .even.inner-page{
					background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #082a44), color-stop(1, #dadada));
					background-image:-webkit-linear-gradient(left, #082a44 95%, #000 100%);
					background-image:-moz-linear-gradient(left, #082a44 95%, #000 100%);
					background-image:-ms-linear-gradient(left, #082a44 95%, #000 100%);
					background-image:-o-linear-gradient(left, #082a44 95%, #000 100%);
					background-image:linear-gradient(left, #082a44 95%, #000 100%);
					-webkit-box-shadow:inset 0 0 5px #666;
					-moz-box-shadow:inset 0 0 5px #666;
					-o-box-shadow:inset 0 0 5px #666;
					-ms-box-shadow:inset 0 0 5px #666;
					box-shadow:inset 0 0 5px #666;
				}
			}
		}
	}
}

