div#sign-in{
	width: 100%;
	height: 800px;
	text-align: center;		

	div#top{
		width: 100%;
		height: 50%;
		background-color: #fff;

		div#links{
			width: 50%;
			height: 100%;
			float: left;
			div{
				button{
					font-size: 100px;
					border: 0px;
					background: none;
					color: #00b7fb;
				}
			}
			
			img{
				width: 20%;
				padding-top: 10%;
			}
		}
		div#form{
			float: left;
			width: 50%;
			height: 100%;
			text-align: center;

			div{
				background-color: #162f49;
				margin-top: 10%;
				padding-top: 20px;
				border-radius: 10px;
				color: #fff;
				width: 50%;
				h2{
					margin-bottom: 4%;
					color: #fff;
				}
				h3{
					color: #FFC5C5;
				}
				div{
					margin-top: 10px;
					margin-bottom: 10px;
					width: 100%;

				}
				input.text{
					width: 90%;
					height: 30px;
					color: #000;
					font-size: 20px;
					margin-top: 10px;
				}
				input.submit{
					width: 30%;
					height: 30px;
					color: #fff;
					margin-bottom: 10px;
				}
				label{
					font-size: 20px;
				}
			}
		}
	}

	div#bottom{
		width: 100%;
		height: 50%;
		background-color: #162f49;

		div#errors{
			width: 100%;	
			height: 50%;
			div.message{
				display: inline-block;
				height: 100%;
				font-size: 20px;
				margin-left: 20px;
				div{
					padding-top: 20%;
					p{
						color: #FFC5C5;
						padding: 5px;
					}
				}
			}
		}

		div#sign-up{
			width: 100%;
			height: 50%;
			text-align: center;

			div#fields{
				width: 100%;
				height: 50%;

				div{
    				display: inline-block;
    				width: 20%;

    				label{
						font-size: 20px;
						color: #fff;
					}

					input{
						width: 100%;
						height: 30px;
						font-size: 15px;
					}
				}
			}

			div#submit{
				width: 100%;
				height: 50%;
				.submit{
					font-size: 40px;
					border: 0px;
					background: none;
					color: #00b7fb;
				}
			}
		}
	}
}


