div#header{
	text-align: center;
	div{
		
		a{
			font-size: 30px;
			color: #fff;
		}
		
	}

}

div#outer{
	margin-top: 5%;
	padding: 1% 5% 5% 5%;
	background-color: #082a44;
	text-align: center;
	h4{
		font-size: 30px;
		color: #fff;
		padding-bottom: 1%;
	}

	div#inner{
		background-color: #fff;
		border-radius: 25px;
		text-align: center;

		table{
			width: 100%;
			height: 90%;
			td{

				height: 100%;
				padding-top: 2%;
				padding-bottom: 2%;
			}

			td#download{
				width: 50%;
				img{
					width: 60%;
				}
			}

			td#bar{
				width: 10px;
				img{
					width: 10px;
					height: 80%;
				}
			}

			td#notify{
				width: 50%;
				text-align: center;
				padding: 2%;
				div#form{
					background-color: #082a44;
					border-radius: 10px;
					padding-top: 20px;
					padding-bottom: 20px;

					.input-field{
						margin: 2%;
					}
					.text{
						outline: 0;
						border:none;
						border-radius: 25px;
						
						width: 80%;
						height: 50px;
						font-size: 20px;
						padding-left: 1%;

					}
					
					#captcha{
						text-align: center;
						padding-left: 30%;
					}					

					.input{
						font-size: 20px;
					}
				}
				
				
			}
		}
	}

}
