<header id="home-header" class="navbar navbar-fixed-top navbar-inverse">
     <div class="navbar-inner">
          <ul class="nav nav-list">
               <li style="float: left;">
                    <strong><%= link_to "Home", dashboard_path %></strong>
               </li>
               <li style="float: right;">
                    <strong><%= link_to "Create Packet", dashboard_create_path %></strong>
               </li>
          </ul>
     </div>
</header>