<header id="home-header" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <table class="table table-condensed outer-table">
      <tr>
        <td>
            <table>
              <tr>
                <td>
                  <%= link_to image_tag("home/nav/home.png"), "#" %>
                <td>
                <td>
                  <h4>Home</h4>
                </td>
              </tr>
            </table>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <%= link_to image_tag("home/nav/mission.png"), "#" %>
              </td>
              <td>
                <h4>Mission</h4>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <%= link_to image_tag("home/nav/content.png"), "#" %>
              </td>
              <td>
                <h4>Packet Creation</h4>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <%= link_to image_tag("home/nav/about.png"), "#" %>
          <h4>About Us</h4>
        </td>
      </tr>
    </table>
  </div>
</header>